/Entrega_01
Entrega_03/jopia_integrante_01_alvaro_vis_01/Visualización y crónica/crónica.md
Entrega_03/lopez_integrante_02_olivia_vis_02/readme.md
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/Base de datos Entrega 3.csv
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/grafico_1.html
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/grafico_2.html
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/grafico_3.html
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/visualizacion/visualizacion/Base de datos Entrega 3.csv
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/visualizacion/visualizacion/grafico_1.html
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/visualizacion/visualizacion/grafico_2.html
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/visualizacion/visualizacion/grafico_3.html
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/visualizacion/visualizacion/Visualización_datos_Entrega_4_Narración_Gráfica.ipynb
Entrega_04/Lopez_Integrante_02_Olivia_vis_02/Visualización_datos_Entrega_4_Narración_Gráfica.ipynb
Entrega_04/Zapata_Integrante_03_Isidora_vis_03/chart_puntos (1).html
Entrega_04/Zapata_Integrante_03_Isidora_vis_03/data premios excel pivot OFICIAL CSV.csv
Entrega_04/Zapata_Integrante_03_Isidora_vis_03/Entrega_3_Isidora_Zapata (1).ipynb
Entrega_04/Zapata_Integrante_03_Isidora_vis_03/visualizacion/chart_puntos (1).html
Entrega_04/Zapata_Integrante_03_Isidora_vis_03/visualizacion/data premios excel pivot OFICIAL CSV.csv
Entrega_04/Zapata_Integrante_03_Isidora_vis_03/visualizacion/Entrega_3_Isidora_Zapata (1).ipynb
